{% extends "base.html" %}
{% block title %}Список товаров{% endblock title %}
{% block content %}
<p><a href={% url "home" %}>На главную</a></p>
<div class="container">
    <h1>Список товаров:</h1>
        {% for product in products %}
        <div class="card text-dark bg-light mb-3">
            <h3 class="card-header">{{ product.name }}</h3>
            <div class="card-body">
                <p>Описание товара: {{ product.descriptoin }}</p>
                <p>Цена: {{ product.price }} руб.</p>
                <p>Остаток на складе: {{ product.stock_quantity }}</p>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock content %}